* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-bg {
  height: 70vh;
  width: 100%;
  position: relative;
  background-image: url("./assets/2 Bed.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-bg::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(21, 21, 21, 0.9);
}
